.container {
	width: 280px;
	color: #ffffff;
}

.schemes-holder {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.title {
	font-size: 15px;
	font-weight: bold;
	padding: 8px;
}

.scheme {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(30deg,
			var(--color1) 0%,
			var(--color1) 20%,
			var(--color2) 20%,
			var(--color2) 40%,
			var(--color3) 40%,
			var(--color3) 60%,
			var(--color4) 60%,
			var(--color4) 80%,
			var(--color5) 80%,
			var(--color5) 100%);
	margin: 5px;
	border-radius: 10px;
	border-style: hidden;
	border-width: 3px;
	cursor: pointer;
}

.scheme-name {
	font-size: 15px;
	font-weight: bold;
	color: black;
	border-style: hidden;
	border-width: 0px;
}

.selected {
	border-style: solid;
	color: white;
}